.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-section {
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
}

.logo {
  width: 250px;
  margin: 50px ;
}

.login-section {
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
  border-radius: 7px;
  width: 900px;
}
h1{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */

letter-spacing: -0.06px;

/* #190F27 */

color: #190F27;
}
