.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-section {
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 48px 80px;
  flex: 1;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
}

.logo {
  width: 250px;
  margin: 50px;
}

.login-section {
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
  border-radius: 7px;
  width: 900px;
}
h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #190f27;
}

.social-media-button img {
  height: 27px;
  weight: 27px;
}
